html,
body {
  margin: 0;
}

#splash {
  background: rgb(71,67,232);
  background: linear-gradient(0deg, rgba(71,67,232,1) 0%, rgba(9,43,129,1) 36%, rgba(71,67,232,1) 100%);
  height: 100vh;
  width: 100vw;
}

#nav {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  font-family: arial;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#name {
  color: white;
  font-size: 40vmin;
  font-family: arial;
  text-shadow: 4px 4px 0px #F4CC1C,
              5px 5px 0px #F4CC1C;
}

#period {
  height: 10vh;
  margin-bottom: -10px;
}

#pointer {
  height: 10vh;
  display: flex;
  justify-content: center;
}

#me {
  display: flex;
  flex-direction: row;
}

#meLeft {
  height: 100vh;
  width: 50vw;
  background-color: #f2f4f7;
  color: rgba(9,43,129,1);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  font-family: arial;
  padding-right: 20px;
}

#meRight {
  height: 100vh;
  width: 50vw;
  background-color: #F4CC1C;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#para {
  height: 30vh;
  width: 100vw;
  background-image: url('camogli.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#para1 {
  height: 30vh;
  width: 100vw;
  background-image: url('waves.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#elton {
  display: flex;
  flex-direction: row;
}

#eltonRight {
  height: 100vh;
  width: 50vw;
  background-color: #f2f4f7;
  color: rgba(9,43,129,1);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-family: arial;
  padding-left: 20px;
}

#eltonLeft {
  height: 100vh;
  width: 50vw;
  background-color: #F4CC1C;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#beach {
  background-image: url('beach.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#beachBack {
  height: 70vh;
}

#beachFore {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: #F4CC1C;
  color: white
}

.portrait {
  height: 50vh;
  width: auto;
}


.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    height: 90vh;
    width: 90vw;
    background-color: #F3F3F3;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    height: 100vh;
    width: 100vw;
}

.show-modal h1 {
  font-family: arial;
  font-size: 15vh;
}

.email {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 70vh;
}

#li {
  height: 5vh;
  margin: 10px;
}

#gh {
  height: 5vh;
  margin: 10px;
}

#at {
  height: 13vh;
}

.social-header {
  font-family: arial;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 400px) {

  #name {
    font-size: 20vw;
  }

  #me {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  #meLeft {
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  #meLeft h1, h2, p{
    text-align: center;
  }

  #meRight {
    width: 100vw;
  }

  #elton {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  #eltonLeft {
    width: 100vw;
  }

  #eltonRight {
    width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0
  }
}
