html {
  margin: 0;
  background-image: url('gator.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  width: 100vw;
}

#splash {
  background: rgb(67,232,143);
  background: linear-gradient(0deg, rgba(67,232,143,1) 0%, rgba(9,129,58,1) 36%, rgba(67,232,143,1) 100%);
  height: 100vh;
  width: 100vw;
}

#nav {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  font-family: arial;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#name {
  color: white;
  font-size: 40vmin;
  font-family: arial;
  text-shadow: 4px 4px 0px #F4CC1C,
              5px 5px 0px #F4CC1C;
}

#period {
  height: 10vh;
  margin-bottom: -10px;
}

#pointer {
  height: 10vh;
  display: flex;
  justify-content: center;
}

#foot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: #F4CC1C;
  color: white
}

#greet {
  display: flex;
  color: white;
  text-shadow: 1px 1px 0px rgba(9,129,58,1),
                -1px -1px 0px rgba(9,129,58,1);
  font-family: arial;
  justify-content: center;
}

h2 {
  font-size: 10vmin;
}

.row {
  display: flex;
  flex-direction: row;
}

.card {
  margin: 5vw;
  background-color: #f2f4f7;
  width: 40vw;
}

#moon {
  width: 40vw;
}

#swamp {
  height: 100vh;
}

.heading {
  display: flex;
  font-family: arial;
  font-size: 6vh;
  color: rgba(9,129,58,1);
  justify-content: center;
  text-align: center;
}

.info {
  display: flex;
  justify-content: center;
  font-family: arial;
  margin: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  background-color: rgba(9,129,58,1);
  margin-top: 5vh;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    height: 90vh;
    width: 90vw;
    background-color: #F3F3F3;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    height: 100vh;
    width: 100vw;
}

.show-modal h1 {
  font-family: arial;
  font-size: 15vmin;
}

.email {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 70vh;
}

#li {
  height: 5vh;
  margin: 10px;
}

#gh {
  height: 5vh;
  margin: 10px;
}

#at {
  height: 13vh;
}

.social-header {
  font-family: arial;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 980px) {

  .email {
    height: 40vh;
    flex-direction: column;
    margin: 10px;
  }

  .modal-content {
    height: 60vh;
    padding: 5vw;
    width: 80vw;
  }

  .show-modal h1 {
    font-size: 10vw;
    margin: 0;
  }

  #at {
    height: 13vmin;
  }

}

@media only screen and (max-width: 450px) {
  h2 {
    text-align: center;
  }

  #name {
    font-size: 20vw;
  }

  .row {
    flex-direction: column;
  }

  #moon {
    width: 80vw;
  }

  .card {
    width: 80vw;
  }

  #main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .modal-content {
    height: 60vh;
    padding: 5vw;
    width: 80vw;
  }

  .show-modal h1 {
    font-size: 15vw;
    margin: 0;
  }

  .email {
    height: 40vh;
    flex-direction: column;
    margin: 10px;
  }

  #at {
    height: 13vmin;
  }

  html {
  background-image: url('');
  background-color: gray;
  }
}
